// nextflow.config

manifest {
    name = 'QC & Trimming'
}

process {
    withName: FASTQC {
        cpus = 6
        memory = 8.GB
        container = 'staphb/fastqc:latest'
    }
    withName: FASTP {
        cpus = 10
        memory = 10.GB
        container = 'staphb/fastp:latest'
    }
    withName: MULTIQC {
        cpus = 4
        memory = 4.GB
        container = 'staphb/multiqc:latest'
    }    
}

docker {
    enabled = true
}
